In [ ]:
import numpy as np
import pytesseract
import cv2
import os
from PIL import Image
import re
from tqdm import tqdm

In [ ]:
image_dir = '../data/resumes_data/All/Resume_images'
images = os.listdir(image_dir)


text_dir = 'Text'
if not os.path.exists(text_dir):
    os.makedirs(text_dir)

for image in tqdm(images):
    text = pytesseract.image_to_string(Image.open(os.path.join(image_dir,image)))
    text = re.sub(r'^$\n', '', text, flags=re.MULTILINE)

    text_file_path = os.path.join(text_dir,image.split('.')[0]+'.txt')
    with open(text_file_path,'w') as f:
        f.write(text)

## Filtering data

In [8]:
import pandas as pd
import os

In [27]:
df = pd.read_excel('../data/hiring_data_new_V2.xlsx')
print(df.shape)
df.head()

(417, 9)

,Resume name,Candidate Name,Stage 1 (resume screening) Output,Stage 2 (1st round technical interview) Output,Stage 3 (2nd round technical interview) Output,Stage 4 (HR round/Accepted) Output,Stage 5 (Onboarded) Output,Role,Comment
0,shrijoy,Shrijoy,0,0,0,NaN,NaN,NaN,NaN
1,abhina_b,Abhinaba,0,0,0,NaN,NaN,NaN,NaN
2,hemanth,Hemanth,1,0,0,NaN,NaN,NaN,NaN
3,raghuveera,Raghuveerangouda,1,0,0,NaN,NaN,NaN,NaN
4,ganesh_rode,Ganesh,0,0,0,NaN,NaN,NaN,NaN

In [46]:
text_files = os.listdir('phase1_full_data')
text_files

doc = []
for t in text_files:
    try:
        f_name = t.split('.')[0][:-2]
        df_mini = df[df['Resume name'] == f_name]
        name = df_mini['Resume name'].values[0]
        label = df_mini['Stage 1 (resume screening) Output'].values[0]
        doc.append((name,label))
    except:
        print(t,f_name)
            
            
df_out = pd.DataFrame(doc,columns=['name','label'])
print(df_out.shape)
df_out.head()

ankit_gupta_0.txt ankit_gupta
(87, 2)

             name  label
0  aakansha_tyagi      1
1     abashes_das      1
2     abdal_attar      1
3     abdal_attar      1
4     abdal_attar      1

In [43]:
df_out.loc[len(df_out.index)] = ['ankit_gupta',1]
df_out.shape

(88, 2)

In [45]:
df_out.to_csv('phase_1_labels.csv',index=False)